@tailwind base;
@tailwind components;
@tailwind utilities;

/* add grey background color */
body, html {
  background-color: #f3f4f6;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}